<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Resource_ManagementBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client />
  </system.serviceModel>
  <connectionStrings>
    <add name="WorkDay_ResourseManagementEntities" connectionString="metadata=res://*/InvoiceDataModel.csdl|res://*/InvoiceDataModel.ssdl|res://*/InvoiceDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVWWDSQL1;initial catalog=WorkDay_ResourseManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkDay_Resourse_ManagementEntities1" connectionString="metadata=res://*/Supplier_Invoice_DataModel.csdl|res://*/Supplier_Invoice_DataModel.ssdl|res://*/Supplier_Invoice_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVWWDSQL1;initial catalog=WorkDay_ResourseManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>